html {
    scroll-behavior: smooth;
}

body {
    max-width: 1000px;
    padding: 100px;
    margin: auto;
    font-family: freight-text-pro, serif;
    font-weight: 400;
    font-style: normal;
    color: #000914;
}

main {
    width: 50%;
    margin-left: 50%;
    margin-top: -100px;
}

article {
    margin-top: -50px;
    padding-top: 50px;
}

p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
}

main a, footer a {
    text-decoration: none;
    color: #2c60a3;
}

main a:hover, footer a:hover{
    color: #006cfa;
    background-color: #e6ecf5;
    padding: 4px;
    margin: -4px;
    border-radius: 8px;
}

ul {
    list-style: none;
    padding-left: 0;
}

nav {
    position: fixed;
    top: 80px;
}

nav ul li {
    display: block;
    font-size: 24px;
    padding-left: 15px;
    border-bottom: 3px solid #000914;
    width: 300px;
    height: 50px;
    transition: all 200ms;
}

nav ul li:first-of-type {
    border-top: 3px solid #000914;
}

nav ul li:hover {
    background-color: #e6ecf5;
}

.active {
    background-color: #f3ff08;
}

.active:hover {
    background-color: #ffee00;
}

nav a {
    padding: 9px 0;
    color: #000914;
    text-decoration: none;
    display: block;
    height: 100%;
}

nav, h1 {
    font-family: fieldwork, sans-serif;
    font-weight: 400;
    font-style: normal;
} 

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

h2, footer {
    font-family: fieldwork, sans-serif;
    font-weight: 300;
    font-style: normal;
}

img {
    padding: 2px;
    height: 24px;  
    transition: all 200ms;
    position: absolute;
    right: 15px;
}

footer {
    position: fixed;
    bottom: 80px;
}

footer a {
    display: block;
    font-size: 16px;
    line-height: 28px;
}