body {
    font-family: sans-serif;
}

#container {
    width: 100%;
    max-width: 1366px;
    min-width: 800px;
    margin: auto;
}

#hide {
    display: none;
}

#banner {
    width: 1100px;
    height: 250px;
    margin: 50px auto;
    background-color: #0E0F11;
    font-family: din-condensed, sans-serif;
    font-size: 80px;
    text-align: center;
}

.row {
    display: flex;
    padding: 20px 10px;
    height: 100px;
}

.row div div {
    position: relative;
    border: 3px solid #0E0F11;
    box-sizing: border-box;
    width: 50px;
    margin: 0 2px;
    padding-top: 2px;
    color: white;
    perspective: 10px;
    perspective-origin: 50% 100%;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap; 
    backface-visibility: hidden;
}

#row2 {
    position: relative;
    top: -30px;
}

.char1 div {
    transition: all 400ms;
    animation-delay: 50ms;
}

.char2 div {
    transition: all 400ms;
    animation-delay: 100ms;
}

.char3 div {
    transition: all 400ms;
    animation-delay: 150ms;
}

.char4 div {
    transition: all 400ms;
    animation-delay: 200ms;
}

.char5 div {
    transition: all 400ms;
    animation-delay: 250ms;
}

.char6 div {
    transition: all 400ms;
    animation-delay: 300ms;
}

.char7 div {
    transition: all 400ms;
    animation-delay: 350ms;
}

.char8 div {
    transition: all 400ms;
    animation-delay: 400ms;
}

.char9 div {
    transition: all 400ms;
    animation-delay: 450ms;
}

.char10 div {
    transition: all 400ms;
    animation-delay: 500ms;
}

.char11 div {
    transition: all 400ms;
    animation-delay: 550ms;
}

.char12 div {
    transition: all 400ms;
    animation-delay: 600ms;
}

.char13 div {
    transition: all 400ms;
    animation-delay: 650ms;
}

.char14 div {
    transition: all 400ms;
    animation-delay: 700ms;
}

.char15 div {
    transition: all 400ms;
    animation-delay: 750ms;
}

.char16 div {
    transition: all 400ms;
    animation-delay: 800ms;
}

.char17 div {
    transition: all 400ms;
    animation-delay: 850ms;
}

.char18 div {
    transition: all 400ms;
    animation-delay: 900ms;
}

.char19 div {
    transition: all 400ms;
    animation-delay: 950ms;
}

.char20 div {
    transition: all 400ms;
    animation-delay: 1000ms;
}

.a1 {
    top: 0px;
    height: 50px;
    transform-origin: 50% 100%;
    z-index: 3;
    background-color: #252A32;
    animation: sfa1 infinite 10s forwards;
}

.dummy .a1 {
    animation: none;
}

.dummy .b1 {
    animation: none;
}

.dummy .a2 {
    animation: none;
}

.dummy .b2 {
    animation: none;
}

.a2 {
    top: -50px;
    height: 100px;
    z-index: 0;
    background-color: #252A32;
    animation: sfa2 infinite 10s forwards;
}

.b1 {
    top: -150px;
    height: 50px;
    z-index: 1;
    background-color: #0B0C0D;
    animation: sfb1 infinite 10s forwards;
}

.b2 {
    top: -200px;
    height: 100px;
    transform-origin: 50% 50%;
    transform: rotateX(180deg);
    background-color: #252A32;
    animation: sfb2 infinite 10s forwards;
}

#banner:hover {
    cursor: help;
}


@keyframes sfa1 {
    48% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(180deg);
    }

    98% {
        transform: rotateX(180deg);
    }

    100% {
        transform: rotateX(0deg);
    }  
}

@keyframes sfb2 {
    48% {
        transform: rotateX(180deg);
    }

    50% {
        transform: rotateX(360deg);
    }

    98% {
        transform: rotateX(360deg);
    }

    100% {
        transform: rotateX(180deg);
    }  
}

@keyframes sfa2 {
    48% {
        background-color: #252A32;
    }

    50% {
        background-color: #0B0C0D;
    }

    98% {
        background-color: #0B0C0D;
    }

    100% {
        background-color: #252A32;
    }  
}

@keyframes sfb1 {
    48% {
        background-color: #0B0C0D;
    }

    50% {
        background-color: #252A32;
    }

    98% {
        background-color: #252A32;
    }

    100% {
        background-color: #0B0C0D;
    }  
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
}

section {
    width: 31%;
    color: #0E0F11;
}

a {
    color: #0E0F11;
    text-decoration: none;
    display: block;
    padding: 7px 10px;
    height: 100%;
}

h2 {
    background-color: #D6DEE6;
    display: block;
    padding: 14px 10px;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 35px;
}

main ul li {
    background-color: #C4CBD2;
}

main ul li:nth-child(even) {
    background-color: #D6DEE6;
}

main ul li:hover {
    animation: glow infinite 4s forwards;
}

main ul li:hover a {
    animation: wiggle infinite 2s forwards;
}

@keyframes glow {
    0% {
        background-color: #79BBFF;
    }

    50% {
        background-color: #1476DA;
    }

    100% {
        background-color: #79BBFF;
    }
}

@keyframes wiggle {
    0% {
        transform: skew(0deg);
    }

    25% {
        transform: skew(15deg);
    }

    50% {
        transform: skew(0deg);
    }

    75% {
        transform: skew(-15deg);
    }

    100% {
        transform: skew(0deg);
    }
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    padding: 20px;
}

footer ul li a {
    color: #0E0F11;
}

footer ul li a:hover {
    color: #6C7B8A;
}
